@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: linear-gradient(
    135deg,
    #393b3c 0%,        
    #6dae81 50%,      
    #4f4f4f 100%        
  );
  background-attachment: fixed;
  min-height: 100vh;
}




